[tool.poetry]
name = "sekoiaio-documentation"
description = "An MkDocs server for SEKOIA.IO public Markdown documentation"
version = "1.0"
authors = []
packages = [
    { include = "plugins" }
]

[tool.poetry.plugins."mkdocs.plugins"]
redoc = "plugins.redoc:RedocPlugin"

[tool.poetry.dependencies]
python = "^3.8"
mkdocs = "^1.0.0"
mkdocs-material = "^8.0.0"
mkdocs-redirects = "^1.0.4"
markdown-include = "^0.6.0"

[build-system]
requires = [ "poetry-core>=1.0.0",]
build-backend = "poetry.core.masonry.api"
