[tool.poetry]
name = "sekoiaio-documentation"
description = "An MkDocs server for SEKOIA.IO public Markdown documentation"
version = "1.0"
authors = []
packages = [
    { include = "plugins" }
]

[tool.poetry.plugins."mkdocs.plugins"]
redoc = "plugins.redoc:RedocPlugin"
intakes_by_uuid = "plugins.intakes_by_uuid:IntakesByUUIDPlugin"
modules_by_uuid = "plugins.modules_by_uuid:ModulesByUUIDPlugin"

[tool.poetry.dependencies]
python = "^3.11"
mkdocs = "^1.5.3"
mkdocs-material = "^9.1.21"
mkdocs-redirects = "^1.2.1"
markdown-include = "^0.8.1"
lightgallery = "^0.5"
markdown = "3.3.7" # Newer versions are not compatible with lightgallery

[build-system]
requires = [ "poetry-core>=1.0.0",]
build-backend = "poetry.core.masonry.api"
