{% extends "base.html" %}

{% block content %}
<h1 id="rest_api">SEKOIA.IO TIP – Develop</h1>

<p>To develop, integrate and automate your workflows, build with the SEKOIA.IO REST API.</p>

<a href="#" class="md-button">Quickstart</a>

<div class="md-container" style="margin-top:50px">
  <div class="sek-row">
    <div class="sek-two-columns">
      <p>
	<strong>
	  <span class="twemoji">
	    {% include ".icons/fontawesome/solid/book.svg" %}
	  </span>&nbsp; Popular Guides</strong></p>

      <!-- <div> -->
      <!--   <p> -->
      <!--     <strong> -->
      <!--       <a href="guides/get_started/">Get started</a> -->
      <!--     </strong><br /> -->
      <!--     Learn the foundations of SEKOIA.IO REST API and start with few quickwins -->
      <!--   </p> -->
      <!-- </div> -->

      <div>
	<p>
	  <strong>
	    <a href="guides/filtering/">Filtering</a>
	  </strong><br />
	  The filtering method used by SEKOIA.IO REST API.
	</p>
      </div>

      <!-- <div> -->
      <!--   <p> -->
      <!--     <strong> -->
      <!--       <a href="guides/authentication_overview/">Authentication overview</a> -->
      <!--     </strong><br /> -->
      <!--     Discover the authentication process of the REST API. -->
      <!--   </p> -->
      <!-- </div> -->

    </div>
      <div class="sek-two-columns">
	<p><strong>
	    <span class="twemoji">
	    {% include ".icons/fontawesome/solid/dna.svg" %}
	    </span>&nbsp;
	    Popular REST APIs</strong></p>
	<ul>
	  <li><a href="rest_api/intelligence">Intelligence</a></li>
	  <li><a href="rest_api/enrichments">Enrichments</a></li>
	  <li><a href="rest_api/community">Community</a></li>
	</ul>
      </div>
  </div>
</div>

{% endblock %}
