---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { getCollection } from "astro:content";

const docEntries = await getCollection("docs");

---

<Layout title="Welcome to Astro.">
<main
    class="p-10 max-w-4xl mx-auto container flex flex-1 flex-col items-center w-full"
>
<ul>
  {docEntries.map(docPostEntry => (
    <li>
      <a href={`/documentation/${docPostEntry.slug}`}>{docPostEntry.data.title}</a>
    </li>
  ))}
</ul>
</main>
</Layout>
