{% extends "base.html" %}

{% block site_nav %}
{% endblock %}

{% block tabs %}

<section class="mdx-container mdx-sek-home">

  <div class="maindescription">
    <div class="maindescription__inner">
      <h1>SEKOIA.IO Documentations</h1>

      <p>
        Get familiar with SEKOIA.IO and explore products features
      </p>
    </div>
  </div>

  <div class="categories">
    <h2>Explore by Category</h2>

    <div class="category">
      <a href="getting_started/">Get Started</a>
      <a href="operation_center/">Operations Center</a>
      <a href="intelligence_center/">Intelligence Center</a>
      <a href="user_center/">User Center</a>
      <a href="apis">APIs Documentation</a>
    </div>
  </div>

  <div class="support">
    <h2>Can’t find what you’re looking for?</h2>

    <p><a href="https://support.sekoia.io/" target="_blank">Support is here!</a>
    <p>
  </div>

</section>

{% endblock %}

{% block content %}{% endblock %}