{% extends "base.html" %}

{% block site_nav %}
{% endblock %}

{% block tabs %}

<section class="mdx-container mdx-sek-home">

  <div class="maindescription">
    <div class="maindescription__inner">
      <h1>Need Help?</h1>
      <p>
        Get familiar with Sekoia's product features and integrations.
      </p>
    </div>
  </div>

  <div class="categories">
    <h2>Explore by category</h2>

    <div class="category">
      <a href="getting_started/">Get Started</a>
      <a href="xdr/">Sekoia Defend (XDR)</a>
      <a href="cti/">Sekoia Intelligence (CTI)</a>
      <a href="integration/">Sekoia Integrations</a>
      <a href="developer/api">Developer documentation</a>
      <a href="https://changelog.sekoia.io" target="_blank">Changelog</a>
    </div>
  </div>

  <div class="support">
    <div class="support__inner">
      <div class="col">
        <h3>Want to test the product?</h3>
        <p>
          Want to know more about our solutions or request a demo to better assess the capabilities of Sekoia?
        </p>
        <a class="button" href="https://www.sekoia.io/en/contact/">
          Contact us
        </a>
      </div>

      <div class="col">
        <h3>Help us improve this doc!</h3>
        <p>
          Our documentation is open source. Share your improvements by submitting a pull request.
        </p>
        <a class="button" href="https://github.com/SEKOIA-IO/documentation">Make a contribution</a>
      </div>

      <div class="col">
        <h3>Can’t find what you’re looking for?</h3>
        <ul>
          <li>
            <a class="button" href="https://support.sekoia.io/" target="_blank">Support is here!</a>
          </li>
          <li>
            <a class="button" href="https://github.com/SEKOIA-IO/Community" target="_blank">Ask the community</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block content %}{% endblock %}