.md-header {
  height: 70px;
  background-color: #171717;
  box-shadow: inherit;

  &[data-md-state='shadow'] {
    box-shadow: inherit;
  }

  .md-header__topic {
      display: none;
  }

  .md-logo {
      img {
          height: 2rem;
          width: inherit;
      }
  }
}

.md-sidebar--secondary {
  right: 0;
  transform: inherit;

  .md-sidebar__inner {
    border-left: 1px solid #9ba6b7;
  }

  .md-nav__title {
    text-transform: uppercase;
    color: black;
  }

  .md-nav--secondary > .md-nav__list {
      counter-reset: side-bar-counter;
      & > li {
          counter-increment: side-bar-counter;
          & > a::before {
              content: counter(side-bar-counter) ".";
              font-weight: bold;
          }
      }
  }
}

// Main content
.md-container {
  main .md-main__inner {
    counter-reset: h2-counter;

    h2 {
      counter-increment: h2-counter;

      & > span::before {
        content: counter(h2-counter) ". ";
      }

      &::after {
        content: " ";
        width: 33%;
        border-bottom: 1px solid grey;
        padding-top: 0.3em;
        display: inherit;
      }
    }

    pre {
      background: #f5f8fc;
      border-radius: 3px;
    }

    #content_search {
      display: none;
    }

    p img {
      max-width: 70%;
      display: block;
    }

    .admonition.note {
      p.admonition-title {
        background-color: #e7f3fd;
      }

      box-shadow: inherit;
      border: 1px solid #e7f3fd;

      .md-typeset details {
          box-shadow: inherit;
      }
    }
  }
}
