name: Delete previews for stale PRs

on:
  pull_request_target:
    types:
      - labeled

jobs:
  build:
    if: ${{ github.event.label.name == 'stale' }}
    runs-on: ubuntu-latest

    steps:
    - name: Check-out the repo
      uses: actions/checkout@v6

    - name: Delete preview
      uses: ./.github/actions/delete-preview
      with:
        pull_request_id: ${{ github.event.number }}
        os_tenant_id: ${{ secrets.PR_OS_TENANT_ID }}
        os_tenant_name: ${{ secrets.PR_OS_TENANT_NAME }}
        os_username: ${{ secrets.PR_OS_USERNAME }}
        os_password: ${{ secrets.PR_OS_PASSWORD }}
        github_token: ${{ secrets.GITHUB_TOKEN }}
        message: |
          _Preview was removed as the PR is stale._
