name: Preview docs.sekoia.io
on:
  pull_request:

jobs:
  build:
    name: Preview docs.sekoia.io
    runs-on: ubuntu-latest
    steps:

      - name: Checkout main
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        id: setup-python
        with:
          python-version: '3.13'

      - name: Make destination directory for compiled CSS
        run: mkdir -vp docs/stylesheets/

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Build site
        run: |
          uv run python -m mkdocs build --strict

      - name: Save PR number
        run: |
          echo ${{ github.event.number }} > ./site/.pr_number

      - run: |
          tar zcvf site.tar.gz -C site .

      - uses: actions/upload-artifact@v4
        with:
          name: site.tar.gz
          path: site.tar.gz
