name: Spelling

permissions:
  contents: read

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "docs/**.md"
      - "docs/**/**.md"

env:
  CLICOLOR: 1

jobs:
  find-docs:
    name: Find intakes in repo
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.list-changed-docs.outputs.matrix }}
    steps:
      - name: Check-out the repo under $GITHUB_WORKSPACE
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: ${{ github.event_name == 'pull_request' && 2 || 0 }}

      - id: list-changed-docs
        name: List changed documentations
        run: |
          echo "matrix=$(comm -12 <(git diff --name-only -r HEAD^1 HEAD | sort | uniq) <(find docs -type f -name '*.md' ! -path 'docs/assets/**' | sort))" >> $GITHUB_OUTPUT

  spelling:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    needs: find-docs
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Spell Check Repo
        uses: crate-ci/typos@57b11c6b7e54c402ccd9cda953f1072ec4f78e33 # v1.43.5
        with:
          files: ${{ fromJSON(needs.find-docs.outputs.matrix) }}
